{% extends "inherit.html" %}
{% block content %}
<style>
    .row {
        padding-left: 0 !important;
        padding-top: 0.5rem !important;
        margin-left: 0 !important;
        padding-bottom: 0.5rem !important;
        border-bottom: 0.1rem solid grey;
        border-left: 0 !important;
    }
</style>

<main>
    <div class="container text-center">
        <div class="row" style="background-color: rgba(171, 201, 211, .35); height: 3rem;">
            <div class="col-5 my-auto">
                Achievement Name
            </div>
            <div class="col-5 my-auto">
                Achievement Description
            </div>
        </div>
        <div class="row" style="height: 15rem">
        {% if achieve_list %}
            {% for a in achieve_list %}
                <div class="col-5 my-auto">
                    <p>{{ a.achievement }}</p>
                </div>
                <div class="col-5 my-auto">
                    <p>{{ a.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="row4">
                <p>Looks like you haven't hiked any mountains with us yet!</p>
                <p>Head over to the Peaks page and choose where to begin</p>
            </div>
        {% endif %}
        </div>
    </div>
</main>
{% endblock content %}