{% extends "inherit.html" %}
{% block content %}
<style>
    .row {
        padding-left: 0 !important;
        padding-top: 0.5rem !important;
        margin-left: 0 !important;
        padding-bottom: 0.5rem !important;
        border-bottom: 0.1rem solid grey;
        border-left: 0 !important;
    }

    .img {
        border:0 !important;
        margin: 0 !important;
        padding:0 !important;
    }
</style>

<main>
    <div class="container text-center">
        <div class="row" style="background-color: rgba(171, 201, 211, .6); height: 3rem;">
            <div class="col-5 my-auto">
                14er Peak
            </div>
            <div class="col-1 my-auto">
                Climbed
            </div>
            <div class="col-1 my-auto">
                Class
            </div>
            <div class="col-3 my-auto">
                Elevation [ft]
            </div>
            <div class="col-1 my-auto">
                Length[mi]
            </div>
        </div>
        {% for peak in peaks %}
        <div>
            <div class="row" style="height: 15rem">
                <div class="col-3">
                    <a href="{{ url_for('peakpage', peak=peak.name) }}">
                        <img src="static/imgs/peak_imgs/{{ peak.name }}.JPG" class="img-fluid float-left w-100 h-100 selection_img" alt="{{ peak.name }}">
                </a>
                </div>
                <div class="col-2 my-auto">
                    {{ peak.name }}
                </div>
                <div class="col-1 my-auto">
                    {% if peak.peakID in user_peaks.peakID %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg><i class="bi bi-check-circle-fill"></i>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg><i class="bi bi-x-circle"></i>
                    {% endif %}
                </div>
                <div class="col-1 my-auto">
                    {{ peak.peakClass }}
                </div>
                <div class="col-3 my-auto">
                    {{ peak.summitElevation }}
                </div>
                <div class="col-1 my-auto">
                    {{ peak.length }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}