{% extends "inherit.html" %}
{% block content %}
<section class="'vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="wrap">
                    <div class="row1">
                        <h1>AlpenGo</h1>
                    </div>
                    <div class="row2">
                        <p>Encourage hiking through data driven metrics and recommendations.</p>
                    </div>
                </div>
          </div>
          <div class="col-md-9 col-lg-6 col-xl-6">
            <img src="static/imgs/home_imgs/Snow-capped-Capitol-Peak.jpeg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; padding-top: 10px;"
            alt="registration photo">
          </div>  
        </div>
    </div>      
</section>
{% endblock content %}